/*==================
    GLOBAL STYLES
====================*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

/*==================
   VARIABLES
====================*/

:root {
  --darkBlue: hsl(240, 38%, 20%);
  --greyBlue: hsl(240, 18%, 77%);
  --lightWeight: 300;
  --midWeight: 500;
  --heavyWeight: 700;
}

/*==========================
  BODY / CONTAINER STYLES
=============================*/

body,
html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  min-height: 100vh;
}

.testimonial {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("./images/pattern-curve.svg") no-repeat;
  background-position: bottom left;
  background-size: 284px 73px;
}

/*==================
  IMAGE STYLES
====================*/

.image-container {
  width: 330px;
  height: 300px;
  background: url("./images/pattern-bg.svg") no-repeat;
  background-size: cover;
}

.profile-pic {
  width: 250px;
  position: relative;
  left: 14%;
  top: 9.8%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

/*===========================
  NVAIGATION BUTTONS STYLES
============================*/

.navigation-container {
  display: flex;
  position: relative;
  bottom: 1.3em;
  background-color: white;
  text-align: center;
  width: 80px;
  border-radius: 50px;
  box-shadow: -10px 9px 20px var(--greyBlue);
}

.button {
  display: inline-block;
  background: white;
  width: 40px;
  align-self: center;
}

.button:hover {
  cursor: pointer;
}

.back {
  border-radius: 50px 0 0 50px;
  margin-right: 0.2em;
}

.next {
  border-radius: 0 50px 50px 0;
  margin-left: 0.2em;
}

.back > img,
.next > img {
  width: 11px;
  height: 13px;
  margin-bottom: 0.1em;
}

/*==================
  QUOTE STYLES
====================*/

.quote {
  text-align: center;
  width: 80%;
  background: url("./images/pattern-quotes.svg") no-repeat;
  background-position: top center;
  background-size: 64px 45px;
}

.quote-text {
  font-size: 0.55rem;
  font-weight: var(--lightWeight);
  color: var(--darkBlue);
  margin-top: 0.5em;
}

.author {
  margin-top: 0.5em;
}

.name {
  display: flex;
  flex-direction: column;
  font-weight: var(--heavyWeight);
}

.name,
.title {
  font-size: 0.4rem;
}

.title {
  font-weight: var(--midWeight);
  color: var(--greyBlue);
}

/*======================
    ATTRIBUTION STYLES
=========================*/

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0.5em;
}

.attribution,
.attribution a {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*==================
  MEDIA QUERIES
====================*/

@media screen and (min-width: 1024px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .testimonial {
    width: 1300px;
    height: 750px;
    display: flex;
    flex-direction: row;
    background-size: 546px 135px;
  }

  .quote {
    order: 1;
    width: 565px;
    background-position: 20% 5%;
    background-size: cover;
    background-size: 104px 74px;
    text-align: left;
    position: relative;
    bottom: 2em;
    z-index: 1;
  }

  .quote-text {
    font-size: 0.9rem;
    position: relative;
    top: 1.5em;
  }

  .author {
    flex-direction: row;
    margin-top: 2.625em;
  }
  .name,
  .title {
    display: inline-block;
  }

  .title {
    margin-left: 0.3em;
  }

  .image-container {
    order: 2;
    position: relative;
    bottom: 2em;
    right: 4.4em;
    width: 650px;
    height: 600px;
    background-size: contain;
  }

  .profile-pic {
    position: relative;
    width: 490px;
    top: 1.8em;
    left: 10%;
  }

  .navigation-container {
    position: relative;
    left: 21em;
    top: 5.7em;
  }

  footer {
    bottom: 0;
  }
}
